$primary-color: #958419;
$secondary-color: #317166;
$terciary-color: #4d4d4d;
$warning-color: #fffb00;
$danger-color: #ff0000;
$success-color: #008000;
$bg-color: #f8fafc;
$color-black: #000;
$color-white: #fff;

$font-stack: 'Arial', sans-serif;

@mixin button-style($bg-color) {
    background-color: $bg-color;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: $font-stack;
    border: none;
    cursor: pointer;
}

$light-theme: (
  bg-color: #f8f9fa,
  text-color: $color-black,
  sidebar-bg: #ffffff
);

$dark-theme: (
  bg-color: #212529,
  text-color: $color-white,
  sidebar-bg: #343a40
);

// Por defecto se usa el tema claro
$theme: $light-theme !default;

$bg-color: map-get($theme, bg-color);
$text-color: map-get($theme, text-color);
$sidebar-bg: map-get($theme, sidebar-bg);
